@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;

  background: url(res/bkground.jpg) center / cover;
}

body > nav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 60px;
  margin: 0;
  text-align: center;

  background: rgba(0, 0, 0, 0.25);
}

body > nav > img {
  padding: 10px;
  width: 60px;
}

body > nav > ul {
  margin: 0;
  padding: 0;
}

body > nav > ul > li {
  display: block;
  margin: 20px 0;
}

body > nav > ul > li > p {
  display: inline-block;
  transform: rotate(-90deg);

  color: white;
  font-family: 'Raleway', sans-serif;
}
