@import url(http://fonts.googleapis.com/css?family=Raleway);

header {
  height: 100vh;
  position: relative;

  background: url(img/bkground.jpg) center / cover;
}

header > #logo {
  padding: 25px;
  width: 80px;
}

header > ul {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 30px 10vw;
  text-align: center;

  background: rgba(0, 0, 0, 0.25);
}

header > ul > li {
  display: inline-block;
  max-width: 100px;
  width: 20vw;

  color: white;
  font-family: 'Raleway', sans-serif;
}
